body {
    background-color: white;
    top: 0px;
}

.camponen {
  margin-top: 0px;
}

.navbar {
  background-color: #d9d9d9;
  position: fixed;
  width: 100vw;
  z-index: 999;
}

.navbar-togle {
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.navbar-togle a {
    text-decoration: none;
    color: rgb(185, 182, 175);
}

.navbar-brand {
  margin-top: -2vh;
  margin-bottom: -2vh;
}

/* .image-brand {
    border-radius: 100%;
} */